.OverviewPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

.scrollable-box {
    max-height: 600px; /* Adjust the height as needed */
    width: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .scrollable-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .scrollable-box::-webkit-scrollbar {
    display: none;
  }

  
  
  .list-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
  }
  .list-item-text {
    flex-grow: 1;
  }
  
   .scrollable-drop-lists {
    max-height: 600px; 
    width: 800px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 5px;
    margin-left:10px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;


  }
  .scrollable-drop-lists::-webkit-scrollbar {
    display: none;
  }

  .scrollable-droplist{
    min-height: 230px; 
    width: 760px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin: 10px;
    text-align: center;

  }


