.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-color: rgba(255, 255, 255, 0.9);
    top: 0px;
    width: 100%;
    z-index: 3;
    border-radius: 8px;
    height: 100px;
}

.list-container{
    position: fixed;
    top: 250px; 
    left: 50px; 
    width: 70%;
    background-color: rgba(255, 253, 253, 0.8);
    padding: 20px;
    height: 650px;
    overflow-y: auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

.list-container::-webkit-scrollbar {
    display: none;
  }

.list-container-items{
    background-color: rgb(209, 235, 198);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
    height: 200px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

.price-hotel{
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: 20px;
}

.save-hotel{
    position: absolute;
    right: 30px;
    top: 100px;
    font-size: 20px;
}

.item-information{
    position: absolute;
    left: 280px;
    top: 20px;
    font-size: 20px;

}