.listContainer {
  background-color: rgba(35, 102, 4, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 1000px;
  height: 100%;
  position: relative;
}
  
.imgCSS {
  width: 50px;
  height: 50px;
}

.price {
  position: absolute;
  right: 40px;
  top: 62.5px;
  font-size: 20px;
}
.save {
  position: absolute;
  right: 40px;
  top: 150px;
  font-size: 20px;
}

.fixedBox {
  position: fixed;
  top: 250px; 
  left: 50px; 
  width: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  max-height: 600px; 
  overflow-y: auto;
  left: 50%;
  transform: translateX(-50%);
}

.flightInfo {
  position: relative;
}

.buttonContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}