#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .Page-mangement {
    width: 260px;
    height: 100px;
    background-color: #313131;
    display: flex;
    flex-direction: row;
  }
  .Page-mangement a {
    color: white;
    text-decoration: none; 
    width: 130px; 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .Page-mangement a:hover {
    background-color: rgb(75, 74, 74);  
  }

  .horizontal-row {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: fixed;
    top: 150px; 
    left: 1%;
    transform: translateX(-1%);
    width: auto;
  }
  


  